div.row {
  margin: 0 0 10px;
}
.quantity {
  border-width: 2px;
  width: calc(100% - 35px);
}
.item-qty label,
.item-qty input,
.item-qty {
  display: inline-block;
}
.total-price-label,
#total-price,
.cart-title {
  text-align: center;
}
