div.row {
  padding: 10px 0;
  border-bottom: 2px solid black;
}
.quantity {
  border: 3px solid black;
  width: 100%;
  font-weight: bold;
  text-align: right;
  float: right;
}
.item-qty label,
.item-qty input,
.item-qty {
  display: inline-block;
}
.total-price-label {
  text-align: left;
}
#total-price,
.item-subtotal-title,
.item-delete-title {
  text-align: right;
}
.cart-title,
.item-quantity-title,
#alert-message {
  text-align: center;
}
.item-title {
  font-size: 30px;
}
.total-price-row {
  padding: 0;
}

button {
  margin-top: 22px;
  margin-bottom: calc((69px - 34px)/2);
}
