.item-table-row,
.item-add {
  padding: 10px 0;
  border-bottom: 2px solid black;
}
.item-quantity-input {
  border: 3px solid black;
  width: 100%;
  font-weight: bold;
  text-align: right;
  float: right;
}
.item-total-total,
.item-subtotal-title,
.item-delete-title,
.item-subtotal {
  text-align: right;
}
.cart-title,
.item-quantity-title,
.alert-message {
  text-align: center;
}
.item-title {
  font-size: 30px;
}
.item-total-row {
  padding: 0;
}
.item-total-button {
  margin: 22px 0;
}
.item-delete-button {
  float: right;
}
.item-name,
.item-price,
.item-subtotal {
  margin: 7px 0;
}